<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    header{
        background: royalblue;
        height: 50px;
    }
    nav{
        background: gold;
        height: 50px;
    }

    aside{
        background: red;
        width: 250px;
        height: 500px; 
        float: left;
    }
    section{
        width: 900px;
        height: 500px;
        background: darkcyan;
        float: right;
    }
    footer{
        clear:both;
        height: 50px;
        background: blue;
    }
    
</style>
</head>
<body>
    <div = "wrap">
        <header></header>
        <nav></nav>
        <aside></aside>
        <section>d</section>
        <footer></footer>
    </div>
</body>
</html>