<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>구매자 : <input type ="text" placeholder="구매자의 이름을 입력하세요"></li>
        <li>상품명 :<input type ="text" placeholder="구매 상품 명을 입력하세요"></li>
        <li>가격 : <input type ="text" placeholder="구매 가격을 입력하세요"></li>
        <li>구매 수량 : </li>
        <li>납품 등급 : </li>
        <li>기타 사항 : </li>

    </ul>
</body>
</html>